.gradient-background {
  background-image: linear-gradient(to right, #ff9a9e, #fad0c4);
}

.rounded-box {
  border-radius: 10px;
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-value {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}

.timer-label {
  font-size: 16px;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input {
  margin-bottom: 10px;
}

.form-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.countdown-over {
  font-size: 18px;
  color: #fff;
}

.countdown-over-button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.input-form {
  display: block;
}

.input-form.hidden {
  display: none;
}

.input-form input[type="date"],
.input-form input[type="time"] {
  background-color: #f0f0f0;
  color: #333;
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.input-form input[type="date"]::placeholder,
.input-form input[type="time"]::placeholder {
  color: #888;
}

.input-form input[type="date"]:focus,
.input-form input[type="time"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px #4e54c8;
}

.input-form button {
  background-color: #4e54c8;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-form button:hover {
  background-color: #8f94fb;
}
.form-input {
  margin-bottom: 10px;
}
.timer-controls {
  display: block;
}

.timer-controls.hidden {
  display: none;
}

.timer-controls button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.timer-controls button:hover {
  background-color: #8f94fb;
}
