.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app h1 {
  margin-bottom: 20px;
}

.gradient-bg {
  background-image: linear-gradient(to right, #ff9a9e, #fad0c4);
}

h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.countdown-over {
  text-align: center;
  font-size: 24px;
  color: #fff;
  margin-top: 20px;
}

.countdown-over p {
  margin: 0;
}

.restart-timer-button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.restart-timer-button:hover {
  background-color: #8f94fb;
}
